/* General body and container styles */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.left-container, .right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.left-container {
    text-align: center;
    padding: 20px;
}

.right-container {
    text-align: center;
    padding: 20px;
}

h1 {
    /* color: #4CAF50; */
    font-size: 2.5rem;
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 400;
}

p {
    font-size: 1.1rem;
    color: #fff;
    line-height: 1.6;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 10px;
}

/* Image or GIF Styling */
.image-container {
    margin-bottom: 20px;
}

.prediction-gif {
    width: 200px;
    margin-top: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.prediction-gif:hover {
    transform: scale(1.1);
}

/* Textarea and button styles */
textarea {
    width: 100%;
    height: 150px;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    color: #555;
    background-color: #f9f9f9;
    resize: none;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.1);
}

textarea:focus {
    border-color: #4CAF50;
    outline: none;
    background-color: #fff;
}

button {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.98);
}

/* Prediction result */
#predictionResult {
    margin-top: 20px;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

#result {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

/* Loading spinner */
.loading-spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #4CAF50;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

/* Keyframe animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.line{
    background-color: black;
    width: 3px;
    height: 90%;
}